<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing JJill Application">
<listeners>
<listener class-name="extentReportListener.ExtentReportNG"/>
</listeners>
    <test name="Test for the JJill application">
    <groups>
    <run>
<!-- <include name='Production'/> -->
<!-- <include name='h'/> -->
<!-- <include name='SmokeTest'/> -->
    </run>
    </groups>
         <classes>
             <class name="com.JJill.testcases.TestCases">
              <methods> 
      <include name="verifyShoptheLook"/> 
           <!--   <include name="verifyForgotPasswordFunctionality"/>   --> 
            <!--     <include name="verifyPaginationFunctionality"/>    Fixed-->
           <!--     <include name="verifyPLPFunctionality"/>   Fixed-->
	<!--   <include name="verifySearchFunctionality"/> Fixed -->
  <!--   <include name="verifyCompletetheLook"/> Fixed-->
  <!--	<include name="verifyInventoryData"/> Fixed -->
  <!--		<include name="verifyPDP_CompletetheLook"/>   Fixed -->
	<!--		 <include name="verifyShoptheLook"/>  Fixed But Added to Bag message not showing up in chrome-->  
	<!--      <include name="verifyHeaderFunctionality"/>     Fixed-->                                           
    <!--	      <include name="verifyMonetateBadging"/>       Fixed-->    
      <!--        <include name="verifyFooterFunctionality"/>  Fixed--> 
      <!--     <include name="verifyPDPFunctionality"/> Fixed-->
 <!--   <include name="verifyQuickLookFunctionality"/> -->
      <!--      Works with staging Environment only
     <include name="verifyCheckoutFunctionality"/>  -->
              </methods> 
             </class>
          </classes>
     </test>
	</suite>